<div class="logo"> <img src="../../assets/img/logo.png" alt="Logo here"></div><!--Resize--> 
<div class="Hello">
  User List
</div>
<div class="button-row">
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
      <a (click)="logout()" class="navbar-text navbar-right navbar-link">Logout</a>
    </div>
  </nav>
</div>
<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/user']"><mat-icon>arrow_back</mat-icon></a>
</div>
<div class="example-container mat-elevation-z8">
  <table *ngIf = 'books'>
      <tr>
          <th>Email Address</th>
      </tr>

      <tr *ngFor='let user of books'>
        <td>{{user.email}}</td>
      </tr>
  </table>
  
</div>
