<div class="logo"> <img src="../../assets/img/logo.png" alt="Logo here"></div><!--Resize--> 
<div class="Hello">
  User List
</div>
<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/user']"><mat-icon>arrow_back</mat-icon></a>
</div>

<div class="example-container mat-elevation-z8">
  <table id="UserTable" *ngIf = 'users'>
      <tr>
          <th>Email Address</th>
      </tr>

      <tr *ngFor='let u of users'>
        <td>{{u.email}}</td>
      </tr>
  </table>
  
</div>

