<div class="logo"> <img src="images/logo.jpeg" alt="Logo here"></div>
<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/books']"><mat-icon>list</mat-icon></a>
</div>
<div class="Hello">
    Welcome to HU Carpool
  </div>
<form [formGroup]="bookForm" (ngSubmit)="onFormSubmit(bookForm.value)" class="myform">
  <div class="button-row" style="color:antiquewhite"> Register a Driver </div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Driver name" formControlName="isbn"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('isbn').valid && bookForm.get('isbn').touched">  Please enter Driver name</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Destination" formControlName="title"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('title').valid && bookForm.get('title').touched">Please enter Destination</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Estimated amount" formControlName="author"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('author').valid && bookForm.get('author').touched">Please enter Estimated amount</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Date of ride" formControlName="description"
           [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!bookForm.get('description').valid && bookForm.get('description').touched">Please enter Date of ride</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Time of ride" formControlName="publisher"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('publisher').valid && bookForm.get('publisher').touched">Please enter Time of ride</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Meeting location" formControlName="published_year"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('published_year').valid && bookForm.get('published_year').touched">Please enter meeting location</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!bookForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
