.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: azure;
  
}

.example-full-width {
  width: 100%;
  background-color:whitesmoke;
  
}

.example-full-width:nth-last-child() {
  margin-bottom: 10px;
  background-color: whitesmoke;
}

.button-row {
  margin: 10px 0;
  background-color: transparent;
  text-align: center;
}
.Hello{
  margin: 10px 0;
  background-color: transparent;
  text-align: center;
  color:rgb(165, 32, 147);
  font-weight: bold;
  font-size: 36px;
}

.myform{
  width:50%;
  align-self: center;
  position: absolute;
  left: 25%;
  border-radius: 15px;
  background-color:rgb(165, 32, 147);
}

.logo{
  text-align: center;
}