<div class="logo"> <img src="../../assets/img/logo.png" alt="Logo here"></div><!--Resize--> 
<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/user']"><mat-icon>list</mat-icon></a>
</div>
<div class="Hello">
    Welcome to HU Carpool
  </div>
<form [formGroup]="bookForm" (ngSubmit)="onFormSubmit(bookForm.value)" class="form-3">
  <div class="button-row" style="color:antiquewhite"> Let's Ride Together </div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Driver name" formControlName="driver"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('driver').valid && bookForm.get('driver').touched">  Please enter Driver name</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Destination" formControlName="destination"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('destination').valid && bookForm.get('destination').touched">Please enter Destination</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Estimated amount" formControlName="amount"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('amount').valid && bookForm.get('amount').touched">Please enter Estimated amount</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Date of ride" formControlName="description"
           [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!bookForm.get('description').valid && bookForm.get('description').touched">Please enter Date of ride</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Time of ride" formControlName="time"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('time').valid && bookForm.get('time').touched">Please enter Time of ride</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Meeting location" formControlName="meeting"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!bookForm.get('meeting').valid && bookForm.get('meeting').touched">Please enter meeting location</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!bookForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
